<div id="wrapper">
  
  <!-- Sidebar -->
  <%= render 'side' %>
    
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <%= render 'time' %>
    <%= render 'sidebtn' %>
    <div class="container">
      <div class="row">
          <div class="col-md-8 index">
            <div class="topicbox align-middle">
              <h1>"오늘의 불만"</h1>
              <p>#<%= render 'hashtag' %></p>
            </div>
                <%= link_to(image_tag('/assets/add-button'), new_post_path, class: "addicon")%>
          </div>
          <div class="col-md-4 index" >
              <%= render 'category' %>
          </div>
        </div>
      </div>
      <%= render 'footer' %>
  </div>
</div>
  <!-- /#page-content-wrapper -->
<!-- /#wrapper -->

<!--<td><%#= post.title %></td>-->
<!--<td><%#= post.content %></td>-->
<!--<td><%#= link_to 'Show', post %></td>-->
<!--<td><%#= link_to 'Edit', edit_post_path(post) %></td>-->
<!--<td><%#= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->